# Virtual environment
venv/
env/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# IDE files
.idea/
.vscode/

# Database files
*.db

# Logs
*.log

#Credentials
.env

#IDE config files
.idea/


#claudefiles
Fastapiconversion.txt
PostgresMigration.txt
RefactoringFolderStructure.txt